<!-- step-1 -->
<div class="halogen">
    <div class="bg-4">
        <div class="step-1">
            <h1>About Us</h1>  
        </div>
    </div>
</div>

<!-- step 2 -->
<div class="halogen">
    <div class="step-2">
        <div class="row"> 
            <div class="col-lg-6 px-5">
                <div class="stepBox">
                    <h2>Halogen Group</h2>
                    <h1 class="py-3">Our Name Stands for Integrity and Trust</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, veniam dolore autem amet rem blanditiis nisi architecto dolor officiis iusto rerum labore. Alias, minus fugit! Illo necessitatibus id natus ducimus?
                    Perferendis adipisci ab, nulla iste hic ipsum consequatur repellat nam delectus, provident veritatis nesciunt excepturi expedita modi perspiciatis voluptatem eveniet fuga officiis dolores doloribus, magni error! Alias consequatur tenetur totam.
                    Explicabo a, perferendis dolore debitis illo, magnam modi consequuntur fuga vel molestias et quos, est odit nisi architecto laboriosam nostrum. Ad excepturi voluptatibus quo suscipit provident ipsum vel laudantium a.</p>

                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolorem reprehenderit praesentium magni quasi consectetur et veniam pariatur neque eum repellendus fugiat tenetur corporis impedit nisi assumenda incidunt labore unde. </p>
                </div>
            </div>   
            <div class="col-lg-6">
                <div class="Box">
                    <img [src]="myImage" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- step-3 -->
<div class="halogen">
    <div class="bg-4 mt-5">
        <div class="step-3">
            <h1 class="mb-5"><span>Nearly 3 decades of <br> experience in </span>Security Solutions </h1>
        </div>
    </div>
</div>

<!-- step-4 -->
<div class="halogen">
    <div class="step-4">
        <div class="row">
            <h3>Management Team</h3>
            <h2 class="mt-4">We lead a streamlined and effective process</h2>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus itaque ipsa molestias totam, officia minima? Mollitia delectus debitis quam doloremque, odio non totam repudiandae magnam tenetur. Voluptas esse officia fugit?</p>
        </div>
    </div>
</div>

<!-- step-5 -->
<div class="halogen">
    <div class="row">
        <div class="col-lg-4">
            <div class="step-5">
                <div>
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <div class="step-txt p-5">
                    <h1 >Wale Olaoye</h1>
                    <p>Chief Executive Officer, Halogen Group</p>
                    <hr>
                    social medial icon
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-5">
                <div>
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <div class="step-txt">
                    <h1>Bosun Shosanya</h1>
                    <p>Executive Director Physical Security & Mobility Halogen</p>
                    <hr>
                    social medial icon
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-5">
                <div>
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <div class="step-txt p-4">
                    <h1>Adedayo Abegunde</h1>
                    <p>Director, Virtual Security Solutions, Halogen</p>
                    <hr>
                    social medial icon
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-5">
                <div class="Box pt-3">
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <div class="step-txt">
                    <h1>Omoshola Yusuf</h1>
                    <p>Chief Technology Officer, Halogen</p>
                    <hr>
                    social medial icon
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-5">
                <div class="Box pt-3">
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <div class="step-txt">
                    <h1>Wale Olaoye</h1>
                    <p>Chief Executive Officer, Halogen Group</p>
                    <hr>
                    social medial icon
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-5">
                <div class="Box pt-3">
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <div class="step-txt">
                    <h1>Wale Olaoye</h1>
                    <p>Chief Executive Officer, Halogen Group</p>
                    <hr>
                    social medial icon
                </div>
            </div>
        </div>
    </div>
</div>

<!-- step-6 -->
<div class="halogen">
    <div class="row mt-5 shadow p-5">
        <div class="col-lg-7 mt-2">
            <div class="stepBox">
                <h1 class="py-3">ISO</h1>
                <h2 class="py-3">International organization for standardisation</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi dignissimos corporis porro soluta, aperiam sed maiores ea! Vero quod quam nihil dolorum a, et velit voluptates fugit ut qui.</p>
            </div>
            <div class="content">
                <a routerLink="menu">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-5 mt-2">
            <div class="Box pt-5">
                <img [src]="myImage" alt="" width="100%">
            </div>
        </div>
    </div>
</div>