<div class="halogen">
    <div class="banner">
        <div class="content">
            <h2 class="mb-5">Halogen Group</h2>
            <h1 class="mb-5">3 Decades of experience in <br/> changing and protecting lives </h1>
            <a routerLink="menu">Learn more <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</div>
<!-- step 2 -->
<div class="halogen">
    <div class="row mt-5">
        <div class="col-lg-8 mt-2">
            <div class="stepBox">
                <h1 class="py-3">Halogen Group</h1>
                <h1 class="py-3">Our Name Stands for Integrity and Trust</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi dignissimos corporis porro soluta, aperiam sed maiores ea! Vero quod quam nihil dolorum a, et velit voluptates fugit ut qui.</p>
            </div>
            <a class="step" routerLink="menu">Read more <i class="bi bi-arrow-right"></i></a>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="Box pt-5">
                <img [src]="myImage" alt="" width="100%">
            </div>
        </div>
    </div>
</div>

<!-- step-3 -->
<div class="halogen">
    <div class="row">
        <h1 class="mt-5">Explore our Solutions</h1>
        <div class="col-lg-4">
            <div class="step-3">
                <div class="Box pt-3">
                    <img [src]="myPicture" alt="" width="100%">
                </div>
                <h1>Physical Security & Mobility Solutions</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis modi atque rerum! Recusandae, doloribus illum dolores id quam.</p>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="step-3">
                <div class="Box pt-3">
                    <img [src]="myPix" alt="" width="100%">
                </div>
                <h1>Virtual Security Solutions</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis modi atque rerum! Recusandae, doloribus illum dolores id quam.<i class="bi bi-arrow-right"></i></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-3 mt-5 ms-3">
                <h1 class="py-3">We have the best services that suit your needs</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusantium quam beatae officia vitae cupiditate magni animi totam voluptatibus repellat? Quia illo dignissimos ducimus adipisci odio soluta ipsa ex cumque!
                Est, dicta! Adipisci blanditiis similique, quaerat alias magni ipsam impedit rem est neque incidunt ad assumenda commodi earum facere quo dolorum veritatis ratione. Ex fugit voluptatibus quia accusamus quas iste?
                Mollitia vitae eveniet.
                <i class="bi bi-arrow-right"></i></p>
            </div>
        </div>
    </div>
</div>

<!-- step-4 -->
<div class="halogen">
    <div class="row">
        <div class="bg-4 mt-5">
            <div class="step-4">
                <h1 class="mt-5"><span>Nearly 3 decades of <br> experience in </span>Security Solutions </h1>
            </div>
        </div>
    </div>
</div>

<!-- step-5  -->
<div class="halogen">
    <div class="row">
        <h1 class="step-5">More Solutions</h1>
        <div class="col-lg-4">
            <div class="step-3">
                <div class="Box pt-3">
                    <img [src]="myImage" alt="" width="100%">
                </div>
                <h1>Alied Security Solutions</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis modi atque rerum! Recusandae, doloribus illum dolores id quam.</p>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="step-3">
                <div class="Box pt-3">
                    <img [src]="myImg" alt="" width="105%">
                </div>
                <h1>Academy Halogen</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis modi atque rerum! Recusandae, doloribus illum dolores id quam.<i class="bi bi-arrow-right"></i></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="step-3 mt-5 ms-3">
                <h1 class="py-3">Our Brand Promise</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusantium quam beatae officia vitae cupiditate magni animi totam voluptatibus repellat? Quia illo dignissimos ducimus adipisci odio soluta ipsa ex cumque!
                Est, dicta! Adipisci blanditiis similique, quaerat alias magni ipsam impedit rem est neque incidunt ad assumenda commodi earum facere quo dolorum veritatis ratione. Ex fugit voluptatibus quia accusamus quas iste?
                Mollitia vitae eveniet.
                <i class="bi bi-arrow-right"></i></p>
            </div>
        </div>
    </div>
</div>

<!-- step-6 -->
<div class="halogen">
    <div class="step-6">
        <div class="row">
            <h1 class="">Our Clients</h1>
            <div class="col-lg-2">
                <button class="btn-carousel">
                    <i class="bi bi-arrow-left icon-carousel icon-prev"></i>
                </button>
            </div>
            <div class="col-lg-2">
                <div class="m-3">
                    <img [src]="myBank" alt="" width="100%">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="m-3">
                    <img [src]="myBank" alt="" width="100%">
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="m-3">
                    <img [src]="myBank" alt="" width="100%">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="m-3">
                    <img [src]="myBank" alt="" width="100%">
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn-carousel">
                    <i class="bi bi-arrow-right icon-carousel icon-prev"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- step-7 -->
<div class="halogen">
    <div class="row step-7">
        <h3>Testimonials</h3>
        <h1>Amazing Employee</h1>
        <div class="col-lg-5 ">
            <div class="classic">
                <div class="d-flex">
                    <img [src]="myProfile" alt="">
                    <div class="text">
                        <h2>John Doe</h2>
                        <p>Amazing Concepts</p>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-lg-7">
            <div class="step-7b shadow p-4 ">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusantium quam beatae officia vitae cupiditate magni animi totam voluptatibus repellat? Quia illo dignissimos ducimus adipisci odio soluta ipsa ex cumque!
                Est, dicta! Adipisci blanditiis similique, quaerat alias magni ipsam impedit rem est neque incidunt ad assumenda commodi earum facere quo dolorum veritatis ratione. Ex fugit voluptatibus quia accusamus quas iste?
                Mollitia vitae eveniet.</p>
            </div>
        </div>
    </div>
</div>

<!-- step-8 -->
<div class="halogen">
    <div class="bg-8">
        <div class="step-8 p-1">
            <h1>Halogen's response to COVID-19 Vaccines</h1>
            <p class="py-2">Read how we're responding to the COVID-19 vaccines, and get resources to help.</p>
            <a routerLink="menu">Learn more <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</div>


