<div class="footer-banner">
    <div class="row">
        <div class="footer col-lg-3 ">
            <img [src]="myLogo" alt="">
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quidem dolorum doloremque earum molestiae.</p>
            <div class="social mb-5">
                <i class="bi bi-facebook fbook"></i>
                <i class="bi bi-twitter tweet"></i>
                <i class="bi bi-linkedin link"></i>  
            </div> 
        </div>
        <div class="footer-text col-lg-2 my-3">
            <h4>Company</h4>
            <ul>
                <li><a routerLink="contact">About Us</a></li>
                <li><a routerLink="/">Why Halogen</a></li>
                <li><a routerLink="/">Leadership</a></li>
                <li><a routerLink="/">Clients</a></li>
                <li><a routerLink="/">Career</a></li>
            </ul>
        </div>
        <div class="footer-text col-lg-4 my-3">
            <h4>Solutions</h4>
            <ul>
                <li><a routerLink="/">Physical Security & Mobility Solutions</a></li>
                <li><a routerLink="/">Virtual Security Solutions</a></li>
                <li><a routerLink="/">Allied Security Solutions</a></li>
                <li><a routerLink="/">Academy Halogen</a></li>
            </ul>
        </div>
        <div class="footer-text col-md-2">
            <h4>Others</h4>
            <ul>
                <li><a routerLink="industry">Media</a></li>
                <li><a routerLink="industry">Halodigest</a></li>
                <li><a routerLink="industry">Blog</a></li>
                <li><a routerLink="industry">News</a></li>
                <li><a routerLink="industry">Events</a></li>
                <li><a routerLink="industry">Contact</a></li>
            </ul>
        </div>
        
        <app-search></app-search>

        <div class="footer-last">
            <p>Privacy Policy | Terms of Service | Cookie Policy</p>
            <p>@ Halogen Group 2022</p>
        </div>
    </div>
</div>
